html {
    height: 100%;
}
/* Header stretch across all */
header {
    background: #ffffff;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100px ;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    border-bottom: solid 1px;
    border-color: #cccccc;

}

h1 {
    box-sizing: border-box;
    background: #4aaaa5;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    width: 400px;
    height: 100%;
    float: left;
    margin: 0 0;
    padding-top: 2%;   
    position: relative;
    left: 10%;

}

/* Navigation Bar */
.navi {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 20px;
    text-align: center;
    padding-top: 2.5%;
    padding-right: 80px;
    
}

    .contact {
        float: right;
        height: 20px;
        width: 100px;
        margin: auto auto;
        background: #ffffff;
        padding-left: 10px;
        text-decoration: none;
        border-left: 1px solid;
        border-color: #cccccc;
    }

    .portfolio {
        float: right;
        height: 20px;
        width: 100px;
        margin: auto auto;
        background: #ffffff; 
        padding-left: 13px;
        padding-right: 9px;
        text-decoration: none;
        border-left: 1px solid;
        border-color: #cccccc;
    }

    .about {
        float: right;
        height: 20px;
        width: 100px;
        margin: auto auto;
        background: #ffffff;
        padding-left: 10px;
        text-decoration: none;
        
    }

    /* Navi link alterations */
    a {
        color: #777777;
        text-decoration: none;
    }
    a:link {
        text-decoration: none;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    a:active {
        text-decoration: underline;
    }


/* Begin footer */
footer {

    background: #666666;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
    bottom: 0;
    min-height: 100%;
    
}


.footerdeco {
    width: 100%;
    height: 20px;
    background: #4aaaa5;
    position: relative;
    bottom: 60px;
}

hr {
    margin: 0 25px;
}

body {
    background: url("../images/rockywall.png");
}
/* EDIT THIS FOR CONTENT CHANGES */


/* About Me Page */
.centermass {
    width: 960px;
    height: 500px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 135px;
    margin-bottom: 50px;
    border: #dddddd solid 1px;
    padding-bottom: 20px;
    
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #4aaaa5;
    font-weight: bold;
    margin: 25px 25px;
}

.profilepic {
    height: 200px;
    width: 200px;
    margin: 20px 25px 0 25px;
    object-fit: contain;
    float: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 25px;
    margin: 0 25px 25px 25px;
    
}

/* Contact page */

.contactsegment {
    height: 620px;
    background: #ffffff;
    border: #dddddd solid 1px;
    padding-bottom: 20px;
}
.contactmass {
    width: 700px;
    height: 380px;
    margin-top: 135px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 0;
}

.contactforms {
    margin: 25px 25px 10px 25px;
}
    .contactforms2 {
        margin: 20px 25px 10px 25px;
    }
    .contactforms3 {
            width: 93%;
            padding: 12px 20px;
            margin: 0 25px;
            height: 200px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            color: #777777;
            line-height: 25px;
    }


/* Forms here */
input[type=text], select {
    width: 93%;
    padding: 12px 20px;
    margin: 0 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 30%;
    background-color: #4aaaa5;
    color: white;
    font-size: 20px;
    padding: 14px 20px;
    margin: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgrey;

}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #4aaaa5;
    font-weight: bold;
    margin: 25px 25px;
    padding-top: 10px;
}

.socialmedia {
    height: 250px;
    width: 350px;
    background: #ffffff;
    position: relative;
    z-index: 1;
    bottom: 450px;
    left: 925px;
    text-align: center;
    border: #dddddd solid 1px;

}

.contactimages {
    float: left;
    margin-top: 25px;
    margin-left: 55px;

}
