.outline {
    border: 1px black solid;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
    background: url("../images/rockywall.png");
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    color: #ffffff;
    border-top: 20px solid #4aaaa5;
    background: #666666;

}

.navbar {
    padding: 0 0 0 0;
    
}

    .navbar-text {
        
        padding-top: 20px;
        height: 100px;
    }

.navbaralltheway {
    background: #ffffff;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid 1px #cccccc;

}

    .navbartitle {
        box-sizing: border-box;
        background: #4aaaa5;
        color: white !important; 
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        left: -15px;
     
    }
           
    /* Contact link deocrations */
    .links {
        font-size: 20px;
        padding: 0;
        border-right: 1px #dddddd solid;
    }

        element.style {
        }

        a:visited {
            text-decoration: none;
        }
        a:link {
            text-decoration: none;
        }
        a {
            color: #777777;
            text-decoration: none;
        }
        
    .linkright {
        border-right: none;
    }

.indexcontainer1 {
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    font-weight: bold;
    
}
.aboutme {
    background: #ffffff;
    border-top: #dddddd solid 1px;
    border-right: #dddddd solid 1px;
    border-left: #dddddd solid 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 15px 15px;
}

.profilepic {
    float: left;
    margin-right: 20px;

}

.indexrow2 {
    background: #ffffff;
    border-bottom: #dddddd solid 1px;
    border-right: #dddddd solid 1px;
    border-left: #dddddd solid 1px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    
}

/* CONTACT PAGE CSS */

.contactforms {
    margin: 25px 25px 10px 25px;
}
    .contactforms2 {
        margin: 20px 25px 10px 25px;
    }
    .contactforms3 {
            width: 93%;
            padding: 12px 20px;
            margin: 0 25px;
            height: 200px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            color: #777777;
            line-height: 25px;
    }

    /* Forms here */
    input[type=text], select {
        width: 93%;
        padding: 12px 20px;
        margin: 0 25px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

    }

    input[type=submit] {
        width: 30%;
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        padding: 14px 20px;
        margin: 10px 25px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: lightgrey;

    }

.card-body {
    padding: 0 0 30px 0;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #4aaaa5;
    font-weight: bold;
    margin: 15px 0;
}

.contactcontainer1 {
    border-bottom: #dddddd solid 1px;
}

#hr2 {
    width: 90%;
}

/* PORTFOLIO PAGE CSS */

.projecttitles {

    width: 100%;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: white;
    background: #4aaaa5;

}

.card-img-overlay {
    padding: 0 0;
}

.portfoliocards {
    margin-top: 12rem;
}


